header{
  width: 100%;
  height: 120px;
  background-color: DarkOrange;
}

footer{
  width: 100%;
  height: 120px;
  background-color: MediumBlue;
}

td{
  color: white;
  font-size: 24px;
  line-height: 0;
  width: 200px;
  min-width: 200px;
  text-align: center;
}

#cel1{
  background-color: DarkRed;
}
#cel2{
  background-color: Crimson;
}
#cel3{
  background-color: LightCoral;
}
#cel4{
  background-color: DarkSalmon;
}
#cel5{
  background-color: DarkKhaki;
}
#cel6{
  background-color: Gold;
}
#cel7{
  background-color: PeachPuff;
}
#cel8{
  background-color: Moccasin;
}
#cel9{
  background-color: DarkGreen;
}
#cel10{
  background-color: ForestGreen;
}
#cel11{
  background-color: Lime;
}
#cel12{
  background-color: DarkSeaGreen;
}
#cel13{
  background-color: Navy;
}
#cel14{
  background-color: RoyalBlue;
}
#cel15{
  background-color: DodgerBlue;
}
#cel16{
  background-color: SkyBlue;
}
